<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matrёshka</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
    <header class="header">


        {% include 'header.html' %}


        <div class="offer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 vh-dependent">
                        <div class="offer-cont">
                            <h1 class="offer-cont__title">
                                Matrёshka объединяет
                            </h1>
                            <p class="offer-cont__text">
                                Платформа, где, подобно матрёшке,
                                синтезируются идеи и материалы для
                                создания уникального дизайна вещей со своей историей.
                            </p>
                            <button class="btn offer-cont__btn" onclick="window.location.href='/registration'">
                                Присоединиться
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6 be-static vh-dependent">
                        <div class="hero">
                            <a href="#" class="video">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="problems">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="/static/img/about_img.jpg" alt="poster" class="poster">
                </div>
                <div class="col-md-6 ml-auto d-flex align-items-center">
                    <div class="about">
                        <h2 class="about__title">
                            Мы применили творческий подход для улучшения жизни людей
                        </h2>
                        <p class="about__text">
                            The best time to view the moon, obviously, is at night when
                            there are few clouds and the weather is accommodating for a
                            long and lasting study.
                        </p>
                        <p class="about__text">
                            For most of us, the idea of astronomy is something we directly
                            connect to “stargazing”, telescopes and seeing
                            magnificent displays in the heavens.
                        </p>
                        <div class="about__author">
                            <h4 class="about__name">
                                Команда разработчиков Matrёshka
                            </h4>
                            <p class="about__dop">
                                2022
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="services">
        <div class="container">
            <div class="col-md-6">
                <div class="section-title">
                    <p class="section-title__label">
                        — О платформе
                    </p>
                    <h2 class="section-title__heading">
                        Платформа охватывает три направления
                    </h2>
                </div>
            </div>
            <div class="col-md-5 ms-auto d-flex justify-content-betweeen">
                <ul class="serv-list serv-list_left">
                    <li class="serv-list__item">
                        — Новая жизнь
                    </li>
                    <li class="serv-list__item">
                        — Уникальный дизайн
                    </li>
                    <li class="serv-list__item">
                        — Получить опыт
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col">
                    <div class="owl-carousel owl-theme works-carousel">
                        <div class="item">
                            <img src="/static/img/New life back.jpg" onClick="imgsrc1();" id="image1" alt="work">
                        </div>
                        <div class="item">
                            <img src="/static/img/Unique back.jpg" onClick="imgsrc2();" id="image2" alt="work">
                        </div>
                        <div class="item">
                            <img src="/static/img/Do art back.jpg" onClick="imgsrc3();" id="image3" alt="work">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="result">
        <div class="container">
            <div class="row">
                <div class="col-md-6 be-static">
                    <div class="collage">
                        <img src="/static/img/front_img.jpg" alt="work">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="easy">
                        <h2 class="easy__title">
                            Well thought with super easy to use
                        </h2>
                        <p class="easy__text">
                            As we approached the palace I could see through the great
                            windows of the first floor the brilliantly illuminated audience
                            chamber of Than Kosis.
                            The immense hall was crowded with nobles and their women.
                        </p>
                        <div class="easy__point easy__point_first">
                            Ultimate Result
                        </div>
                        <div class="easy__point easy__point_second">
                            Minimal Design
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="works tabs">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex align-items-center">
                    <div class="section-title">
                        <p class="section-title__label">
                            — Наши работы
                        </p>
                        <h2 class="section-title__heading">
                            Вдохновись нашими работами
                        </h2>
                    </div>
                </div>
                <div class="col-md-6 ms-auto">
                    <ul class="work-tabs d-flex justify-content-between tabs__caption">
                        <li class="work-tabs__item active">
                            <a href="#">
                                Все
                            </a>
                        </li>
                        <li class="work-tabs__item">
                            <a href="#">
                                Новая жизнь
                            </a>
                        </li>
                        <li class="work-tabs__item">
                            <a href="#">
                                Уникальный дизайн
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="works-wrap d-flex justify-content-between tabs__content active">
                        <a href="#" class="works-wrap__item">
                            <img src="/static/img/works1.jpg" alt="work">
                        </a>
                        <a href="#" class="works-wrap__item">
                            <img src="/static/img/works2.jpg" alt="work">
                        </a>
                        <a href="#" class="works-wrap__item">
                            <img src="/static/img/works3.jpg" alt="work">
                        </a>
                        <a href="#" class="works-wrap__item">
                            <img src="/static/img/works4.jpg" alt="work">
                        </a>
                        <a href="#" class="works-wrap__item">
                            <img src="/static/img/works5.jpg" alt="work">
                        </a>
                        <a href="#" class="works-wrap__item">
                            <img src="/static/img/works6.jpg" alt="work">
                        </a>
                    </div>

                    <div class="works-wrap d-flex justify-content-between tabs__content">
                        <a href="#" class="works-wrap__item">
                            <img src="/static/img/img12.jpg" alt="work">
                        </a>
                        <a href="#" class="works-wrap__item">
                            <img src="/static/img/img11.jpg" alt="work">
                        </a>
                        <a href="#" class="works-wrap__item">
                            <img src="/static/img/img10.jpg" alt="work">
                        </a>
                        <a href="#" class="works-wrap__item">
                            <img src="/static/img/img9.jpg" alt="work">
                        </a>
                        <a href="#" class="works-wrap__item">
                            <img src="/static/img/img8.jpg" alt="work">
                        </a>
                        <a href="#" class="works-wrap__item">
                            <img src="/static/img/img7.jpg" alt="work">
                        </a>
                    </div>

                    <div class="works-wrap d-flex justify-content-between tabs__content">
                        <a href="#" class="works-wrap__item">
                            <img src="/static/img/img9.jpg" alt="work">
                        </a>
                        <a href="#" class="works-wrap__item">
                            <img src="/static/img/img7.jpg" alt="work">
                        </a>
                        <a href="#" class="works-wrap__item">
                            <img src="/static/img/img12.jpg" alt="work">
                        </a>
                        <a href="#" class="works-wrap__item">
                            <img src="/static/img/img11.jpg" alt="work">
                        </a>
                        <a href="#" class="works-wrap__item">
                            <img src="/static/img/img10.jpg" alt="work">
                        </a>
                        <a href="#" class="works-wrap__item">
                            <img src="/static/img/img8.jpg" alt="work">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonials">
        <div class="container">
            <div class="owl-carousel contributer-carousel">
                <!-- First slide -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="section-title">
                            <p class="section-title__label">
                                — Рекомендации
                            </p>
                            <h2 class="section-title__heading">
                                "Professionals in their craft! All products were super great
                                with strong attention to details, and overall vibe"
                            </h2>
                            <div class="contributer">
                                <h3 class="contributer__title">
                                    Polina Kuzina
                                </h3>
                                <p class="contributer__title__desc">
                                    Manager at Craftwork
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 ms-auto">
                        <img src="/static/img/testimonials.jpg" alt="Polina" class="cont-photo img-responsive">
                    </div>
                </div>
                <!-- Second slide -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="section-title">
                            <p class="section-title__label">
                                — Рекомендации
                            </p>
                            <h2 class="section-title__heading">
                                "Professionals in their craft! All products were super great
                                with strong attention to details, and overall vibe"
                            </h2>
                            <div class="contributer">
                                <h3 class="contributer__title">
                                    Polina Kuzina
                                </h3>
                                <p class="contributer__title__desc">
                                    Manager at Craftwork
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 ms-auto">
                        <img src="/static/img/foto.jpg" alt="Polina" class="cont-photo img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        {% include 'footer.html' %}
    </section>
    <!-- Chat bot -->
    <script src="https://bot.jaicp.com/chatwidget/pfrFBUXL:a3f242e45202dbbc423e21b2c9006998475b0bb6/justwidget.js"
        async>
        </script>
    <!-- Scripts -->
    <script language="javascript">
        var i1 = 0;
        var image1 = document.getElementById("image1");
        var imgs1 = new Array('/static/img/New life desc.jpg', '/static/img/New life back.jpg');
        function imgsrc1() {
            i1++; i1 %= imgs1.length;
            image1.src = imgs1[i1];
        };

        var i2 = 0;
        var image2 = document.getElementById("image2");
        var imgs2 = new Array('/static/img/Unique desc.jpg', '/static/img/Unique back.jpg');
        function imgsrc2() {
            i2++; i2 %= imgs2.length;
            image2.src = imgs2[i2];
        };

        var i3 = 0;
        var image3 = document.getElementById("image3");
        var imgs3 = new Array('/static/img/Do art desc.jpg', '/static/img/Do art back.jpg');
        function imgsrc3() {
            i3++; i3 %= imgs3.length;
            image3.src = imgs3[i3];
        };
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>

</html>