<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matrёshka | Профиль</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>

    {% include 'header.html' %}

    <div class="container-fluid profile_information">
        <div class="margin-container">
            <div class="row justify-content-md-center">
                <div class="col-md-1 col-sm-2">
                    <img src="../static/img/team_foto.jpg" id="avatar" class="rounded-circle avatar" />
                </div>
                <div class="col-md-4 col-sm-10">
                    <h3>{{ current_user.name }}</h3>
                    <p>Подробная информация {{ current_user.description }}</p>

                </div>
                <div class="col-md-2">
                    <div class="edit-button justify-content-between">
                        <a href="/edit"><img class="icon" src="../static/img/pen-to-square-solid.svg" /></a>
                    </div>
                    <h3>
                        Контакты
                    </h3>
                    <!-- <a href="tel:+7777777777">Телефон {{ current_user.tel }}</a> -->
                    <a>Телефон {{ current_user.tel }}</a>
                    <a>Телеграм {{ current_user.telegram }}</a>
                </div>
            </div>
            <div class="row list_of_sections">
                <div class="col-md-4">
                    <div class="item">
                        <img class="profile-item" src="/static/img/New life back.jpg" alt="work">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <img class="profile-item" src="/static/img/Unique back.jpg" alt="work">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <img class="profile-item" src="/static/img/Do art back.jpg" alt="work">
                    </div>
                </div>
            </div>
            <div class="item-profile">
                <div class="item-head">
                <div class="row">
                    
                    <div class="col-md-9">
                        <h3>
                            Загруженные вещи
                        </h3>
                    </div>
                    <div class="col-md-3">

                        <button type="button" class="btn offer-cont__btn btn-block col-12">
                            Загрузить
                        </button>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img class="col-md-12 item-img" src="../static/img/video.jpg" />
                    </div>
                    <div class="col-md-4">
                        <img class="col-md-12 item-img" src="../static/img/video.jpg" />
                    </div>
                    <div class="col-md-4">
                        <img class="col-md-12 item-img" src="../static/img/video.jpg" />
                    </div>
                </div>
            </div>
            <div class="item-profile">
                <div class="item-head">
                <div class="row">
                    
                    <div class="col-md-9">
                        <h3>
                            Мои работы
                        </h3>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn offer-cont__btn btn-block col-12">
                            Загрузить
                        </button>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img class="col-md-12 item-img" src="../static/img/video.jpg" />
                    </div>
                    <div class="col-md-4">
                        <img class="col-md-12 item-img" src="../static/img/video.jpg" />
                    </div>
                    <div class="col-md-4">
                        <img class="col-md-12 item-img" src="../static/img/video.jpg" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Work -->
        <section class="footer">
            {% include 'footer.html' %}
        </section>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="../js/jquery-3.6.0.min.js"></script>
        <script src="../js/owl.carousel.min.js"></script>
        <script src="../js/main.js"></script>
</body>

</html>