<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gravity</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <header class="header">
        <!-- Navbar -->
        <div class="nav">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <img src="../img/logo.svg" alt="Gravity" class="logo">
                    </div>
                    <div class="offset-md-2 col-md-3">
                        <button class="search">
                            <img src="../img/search.svg" alt="Search Gravity">
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button class="menu ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
                            <img src="../img/menu.svg" alt="Menu Gravity">
                        </button>                        
                    </div>
                </div>
            </div>
        </div>

        <!-- Menu -->

        <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Заголовок</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <p>МЕНЮ</p>
            </div>
          </div>
                

        <!-- Profile header -->

            <div class="container">
                <div class="col-md-12">
                    <div>
                        <div class="card-body little-profile text-center">
                            <div class="pro-img"><img src="https://i.imgur.com/8RKXAIV.jpg" class="img-circle" alt="user"></div>
                            <h3 class="m-b-0">Brad Macullam</h3>
                            <p>Web Designer &amp; Developer</p>
                            <div class="row text-center m-5 justify-content-md-center">
                                <div class="col-lg-2 col-md-4 m-t-20">
                                    <h3 class="m-b-0 font-light">10</h3><small>работ</small>
                                </div>
                                
                                <div class="col-lg-2 col-md-4 m-t-20">
                                    <div class="vh-border">
                                    <h3 class="m-b-0 font-light">43</h3><small>сделано</small>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-4 m-t-20">
                                    <h3 class="m-b-0 font-light">54</h3><small>что то еще</small>
                                </div>
                            </div> 
                            <a href="#tab2" rel="nofollow" aria-controls="profile" role="tab2" data-toggle="tab">
                            <button class="btn">
                                Портфолио
                            </button></a>
                            <button class="btn">
                                Связаться
                            </button>
                            
                        </div>
                    </div>
                </div>
            </div>
    </header>
        <!-- Work -->    
   
        <div role="tabpanel" class="tab-pane" id="tab2">
      
        </div>
    <section class="tabs" role="tabpanel" class="tab-pane active" id="tab1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex align-items-center">
                    <div class="section-title">
                        <p clas="section-title__label">
                            — Our works
                        </p>
                        <h2 class="section-title__heading">
                            Discover our Work
                        </h2>
                    </div>
                </div>
                <div class="col-md-6 ms-auto">
                    <ul class="work-tabs d-flex justify-content-between tabs__caption">
                        <li class="work-tabs__item active">
                            <a href="#">
                                All
                            </a>
                        </li>
                        <li class="work-tabs__item">
                            <a href="#">
                                Update
                            </a>
                        </li>
                        <li class="work-tabs__item">
                            <a href="#">
                                Unique design
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="works-wrap d-flex justify-content-between tabs__content active">
                        <a href="#" class="works-wrap__item">
                            <img src="../img/img7.jpg" alt="work">
                        </a>
                        <a href="#" class="works-wrap__item">
                            <img src="../img/img8.jpg" alt="work">
                        </a>
                        <a href="#" class="works-wrap__item">
                            <img src="../img/img9.jpg" alt="work">
                        </a>
                        <a href="#" class="works-wrap__item">
                            <img src="../img/img10.jpg" alt="work">
                        </a>
                        <a href="#" class="works-wrap__item">
                            <img src="../img/img11.jpg" alt="work">
                        </a>
                        <a href="#" class="works-wrap__item">
                            <img src="../img/img12.jpg" alt="work">
                        </a>
                    </div>

                    <div class="works-wrap d-flex justify-content-between tabs__content">
                        <a href="#" class="works-wrap__item">
                            <img src="../img/img12.jpg" alt="work">
                        </a>
                        <a href="#" class="works-wrap__item">
                            <img src="../img/img11.jpg" alt="work">
                        </a>
                        <a href="#" class="works-wrap__item">
                            <img src="../img/img10.jpg" alt="work">
                        </a>
                        <a href="#" class="works-wrap__item">
                            <img src="../img/img9.jpg" alt="work">
                        </a>
                        <a href="#" class="works-wrap__item">
                            <img src="../img/img8.jpg" alt="work">
                        </a>
                        <a href="#" class="works-wrap__item">
                            <img src="../img/img7.jpg" alt="work">
                        </a>
                    </div>

                    <div class="works-wrap d-flex justify-content-between tabs__content">
                        <a href="#" class="works-wrap__item">
                            <img src="../img/img9.jpg" alt="work">
                        </a>
                        <a href="#" class="works-wrap__item">
                            <img src="../img/img7.jpg" alt="work">
                        </a>
                        <a href="#" class="works-wrap__item">
                            <img src="../img/img12.jpg" alt="work">
                        </a>
                        <a href="#" class="works-wrap__item">
                            <img src="../img/img11.jpg" alt="work">
                        </a>
                        <a href="#" class="works-wrap__item">
                            <img src="../img/img10.jpg" alt="work">
                        </a>
                        <a href="#" class="works-wrap__item">
                            <img src="../img/img8.jpg" alt="work">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <img class="footer-logo" src="../img/footer-logo.svg" alt="Gravity">
                </div>
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>