<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gravity | Регистрация</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    
        <container>
                <div class="row">
                    <div class="col-md-6">
                        
                            <!-- Navbar -->
                           
                            <div class="nav-small">
                                <div class="container g-0">
                                    <div class="row">
                                        <div class="col-md-6 g-0">
                                            <img src="../img/logo.svg" alt="Gravity" class="logo">
                                        </div>
                                        <div class="col-md-6 g-0">
                                            <button class="menu ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
                                                <img src="../img/menu.svg" alt="Menu Gravity">
                                            </button>                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <!-- Menu -->
                    
                            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                                <div class="offcanvas-header">
                                  <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Заголовок</h5>
                                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body">
                                  <p>МЕНЮ</p>
                                </div>
                              </div>
                    
                             <!-- Main -->
                            
                                <div class="container">
                                  <div class="row d-flex justify-content-center align-items-center h-100">
                                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                                      
                                        <div class="card-body p-5 text-center">
                              
                                          <div class="mb-md-5 mt-md-4 pb-5">
                              
                                            <h2 class="fw-bold mb-2 text-uppercase">Зарегестрироватся</h2>
                                            <p class="mb-5">Пожалуйста зарегестрируйся!</p>
                              
                                            <div class="form-outline form-white mb-4">
                                              <label class="form-label" for="typeEmailX">Email</label>
                                              <input type="email" id="typeEmailX" class="form-control form-control-lg" />
                                              
                                            </div>
                              
                                            <div class="form-outline form-white mb-4">
                                                <label class="form-label" for="typePasswordX">Пароль</label>
                                              <input type="password" id="typePasswordX" class="form-control form-control-lg" />
                                              
                                            </div>
                              
                                            
                              
                                            <button class="btn btn-outline-light btn-lg px-5" type="submit">Зарегестрироватся</button>
                              
                                           
                              
                                          </div>
                              
                                          <div>
                                            <p class="mb-0">Есть аккаунт? <a href="registration.html" class="text-white-50 fw-bold">Войти</a>
                                            </p>
                                          </div>
                              
                                        </div>
                                      
                                    </div>
                                  </div>
                                </div>
                              
                        
                    </div>
                    <div class="col-md-6">
                            <img src="../img/bg-color.png" class="img-fluid" alt="Краски">
                    </div>

                </div>
            </container>
   

         <!-- Scripts -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>